<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VanGogh</title>
    <link rel="stylesheet" href="/stylesheet/styles.css">
</head>
<body>
    <h1>Gallery</h1>
    <img src="/images/Vincent_van_Gogh - Windmills.png" alt="">
    <img src="/images/Vincent_van_Gogh_-_De_slaapkamer.png" alt="">
    <img src="/images/Vincent_van_Gogh_-_The_yellow_house_.png" alt="">
</body>
</html>