<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VanGogh</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <h1>Welcome to Vincent Van Gogh's Webpage</h1>
    <a href="/about">About Vincent</a>
    <a href="/works">Works of Vincent</a>
    <a href="/gallery">Vincent's Gallery</a>
    <img src="/images/Vincent_van_Gogh-Self-Portrait.png" alt="">
</body>
</html>
