<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VanGogh</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <h1>Works</h1>
    <img src="/images/Vincent_van_Gogh - Windmills.png" alt="">
    <p>Le Moulin de Blute-Fin (1886) from the Le Moulin de la Galette and Montmartre series'. Bridgestone Museum of Art, Tokyo (F273)</p>
    <img src="/images/Vincent_van_Gogh_-_De_slaapkamer.png" alt="">
    <p>Bedroom in Arles, 1888. Van Gogh Museum, Amsterdam</p>
    <img src="/images/Vincent_van_Gogh_-_The_yellow_house_.png" alt="">
    <p>The Yellow House, 1888. Van Gogh Museum, Amsterdam</p>
</body>
</html>